@media screen and (max-width: 800px) {
  .enter-details {
    margin: 0 auto;
    width: 80vw;

    padding: 2vw 2vh;
    /* margin-left: 23%; */
  }
  .enter-details > h1 {
    font-weight: 300;
    font-size: 5vw;
    margin-bottom: 5vh;
  }
  .enter-details > p {
    margin-top: 2vh;
    text-align: center;
    font-size: 2vw;
  }
  .enter-details > input {
    margin-bottom: 3vh;
    height: 40px;
    border-style: 0.5px solid grey;
    font-size: 3vw;
    outline: none;
    padding: 1vw 1.8vw;
    border-radius: 5px;
  }
  .enter-details > button {
    text-align: center;
    height: 40px;
    font-size: 3vw;
    margin-top: 2vh;
    border-style: none;
    font-weight: 500;

    border-radius: 7px;
  }
  .App {
    width: 100vw;
    height: 93.5vh;
  }
  .App .header {
    width: 100%;
    flex-basis: 5%;
    background-color: rgb(152, 255, 152);
  }
  .App .header > h1 {
    font-size: 5vw;
    text-align: center;
    margin-top: 1vh;
  }
  .App .chatbody {
    flex-basis: 85%;
    padding: 1vh 1vh;
  }
  .App .input {
    width: 100%;
    flex-basis: 10%;
  }

  .App .input > div > input {
    outline: none;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    font-size: 1.3vh;
    padding: 0.4vw 0 0.4vw 1vh;
  }
  .App .input > div > .button {
    border-radius: 50%;
    padding: 1vw;
    font-size: 5vw;
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;
  }
  .chatmsg {
    font-size: 4vw;
  }
}
